<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shyn.zyot.wind.viewsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextViewDemoActivity"
            android:label="Text View Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditTextDemoActivity"
            android:label="Edit Text Demo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App.Base" />
        <activity
            android:name=".ImageViewDemoActivity"
            android:label="Image View Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CheckBoxDemoActivity"
            android:label="Check Box Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RadioButtonDemoActivity"
            android:label="Radio Button Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ToggleButtonDemoActivity"
            android:label="Toggle Button Demo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App.Base" />
        <activity
            android:name=".SwitchDemoActivity"
            android:label="Switch Demo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ButtonDemoActivity"
            android:label="Button Demo"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>